form{
    width: 80%;
    height: 70%;
    background-color: rgb(223,235,235);
   box-shadow: 2px 2px 10px rgb(223, 235, 235),2px 2px 20px rgb(105, 208, 215);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 30px;
    border-radius: 20px;
}
form:hover{
     box-shadow: 2px 2px 10px rgb(51, 145, 145),2px 2px 20px rgb(105, 208, 215);
}
form input{
    width: 70%;
    height: 10px;
    border: 1px solid rgb(216, 242, 244);
    border-radius: 10px;
    padding: 20px;
    outline: none;
}
 button{
      border-radius: 10px;
      padding: 10px;
      margin-bottom: 20px;
      width: 50%;
}
 button:hover{
     background: linear-gradient(to right, rgb(33, 164, 194), rgb(169, 61, 169));
}
.reg{
    width: 60%;
    height: 100%;
    align-items: center;
   
    margin: 10%;
     margin-left: 20%;
}