.dashboard-container {
  padding: 30px;
}

.dash-title {
  font-size: 26px;
  font-weight: bold;
  margin-bottom: 5px;
}

.dash-sub {
  color: gray;
  margin-bottom: 30px;
}

.card-container {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}

.dash-card {
  background: white;
  padding: 25px;
  width: 220px;
  border-radius: 12px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}

.dash-card h3 {
  margin-bottom: 10px;
  font-size: 25px;
}

.count {
  font-size: 30px;
  font-weight: bold;
  color: #2563eb;
}

.clickable {
  cursor: pointer;
  transition: 0.3s;
}

.clickable:hover {
  transform: translateY(-5px);
}
