
.profile-container{
    width: 50%;
    margin-left: 400px;

 
}


.profile-container h2 {
  text-align: center;
  margin-bottom: 25px;
  margin-top: 50px;
  color: #1f2937;
  font-size: 26px;
  font-weight: 600;
}



.profile-container button {
  padding: 12px;
 
background: #2563eb;
  border: none;
  border-radius: 10px;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
  transition: 0.3s ease;
}

.profile-container button:hover {
  transform: translateY(-2px);
  
   background: linear-gradient(to right, rgb(33, 164, 194), rgb(169, 61, 169));
}

@media (max-width: 500px) {
  .profile-container {
    margin: 30px 15px;
    padding: 22px;
  }
}
